# Root project
node_modules/
dist/
coverage/
*.log

# Environment files
.env
.env.local
.env.development
.env.test
.env.production
.env.*
!.env.example

# Backend
backend/.env
backend/.env.local
backend/.env.development
backend/.env.test
backend/.env.production
backend/.env.*
!backend/.env.example

# Frontend
frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.test
frontend/.env.production
frontend/.env.*
!frontend/.env.example
